@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500&display=swap');
*{
    font-family: 'Krub', sans-serif;
}
#contact{
    background-color: #f6f8fb;
}
#contacttitlebox{
    padding-top: 30px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    color: #4f72ab;
}
#smallboxcontact{
    background-color: #a9a9d1;
    height: 5px;
    width: 60px;
}
#textdowncontact{
    width: 100%;
    display: flex;
    justify-content: center;
}
#downtextcontact{
    width: 1300px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
    font-size: 18px;
}
#mainboxcontact{
    height: 650px;
    width: 100%;
    display: flex;
  justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
    
}
#leftside {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap:40px;
    align-items: flex-end;
}
#adress{
   background-color: white;
    width: 800px;   
    height: 50%;
    box-shadow: 5px 5px 20px #e7e7e7;
    border-radius: 1.5px;
}
#secondrow{
    width: 800px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap:40px
}
.emailocontact{
    background-color: white;
    width: 600px;
    height: 100%;
    box-shadow: 5px 5px 20px #e7e7e7;
        border-radius: 1.5px;
}
#rightsidecontact{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap:40px;
    align-items:center;
}

#inputorow1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}
.contactinput{
    width: 320px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #a9a9d1;
    border-radius: 3px;
    font-family: 'Krub', sans-serif;
}
:placeholder-shown {
    font-size: 17px;
    padding-left: 15px;
    font-family: 'Krub', sans-serif;
    color: #a9a9d1;
}
#inputrow2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}
.contactsubject{
    width: 693px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #a9a9d1;
    border-radius: 3px;
    font-family: 'Krub', sans-serif;
}
.contactsubject:placeholder-shown {
    font-size: 17px;
    font-family: 'Krub', sans-serif;
    color: #a9a9d1;
}
#thirthrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea{
    width: 695px;
    height: 140px;
    resize: none;
    font-size: 14px;
    border: 1px solid #a9a9d1;
    border-radius: 3px;
    font-family: 'Krub', sans-serif;
}
#submitbutton {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
#submitlink {
    padding: 20px;
    background-color: #3b4ef8;
    color: white;
    border-radius: 10px;
}
#submitlink:hover {
    background-color: #303ec0;
    transition: 0.4s;
    border: 1px solid #a9a9d1;
    }