@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500&display=swap');
*{
    font-family: 'Krub', sans-serif;
}
#featurestitle{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    color: #4f72ab;
}
#smallbox{
    background-color: #a9a9d1;
    height: 5px;
    width: 60px;
}
#textdown {
    width: 100%;
    display: flex;
    justify-content: center;
}
#downtext{
    width: 1300px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
    font-size: 18px;
}
#imgcont{
    width: 500px;
}
#maincontent{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
#rightsideofcon {
    width: 720px;
}
#titlright{
    font-size: 25px;
}
#textaboute{
    font-size: 20px ;
    color: grey;
}
#titlright{
    color: grey;
}
.rowsofside{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    gap: 15px;
    font-size: 19px;
    color: grey;

}
#maincontent2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 100px;
}
#imgcont2{
    width: 500px;
}
#rightsideofcon2 {
    width: 720px;
}
#maincontent3{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
padding-top: 100px;
}
#maincontent4{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 100px;
}
